.heading{
    width:100%;
    margin:0px;
    box-shadow:5px 5px 10px rgb(146, 212, 216);
    font-size: 20px;
}

.note{
color: #0c3e9b;
font-size: 15px;
}

canvas
{
background-color: navajowhite;
box-shadow:5px 5px 10px rgb(109, 6, 27);
border: 5px solid rgb(226, 132, 9);
border-radius: 10px;
}

.footer
{
    bottom:0;
    position: fixed;
    background-color: rgb(52, 133, 213);
    color:rgb(240, 72, 240);
    font-size: 20px;
    width:100%;
line-height:3;
}